<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <add name="Database"
         connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <add name="TranslationServices"
         connectionString="https://api.datamarket.azure.com/Bing/MicrosoftTranslator/" />
  </connectionStrings>
  <appSettings>
    <add key="TranslationServicesKey" value="0LAxtlLefP0XXGZigz9Ftd+tqOqo40jV9e9tZY8n5NI=" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="Debugger" xsi:type="Debugger" layout="${time}|${processid}|${logger}|${level:uppercase=true}|${message}${onexception:${newline}Exception information\:${newline}    ${exception:format=ToString}}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="Debugger" />
    </rules>
  </nlog>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy usesystemdefault="True"/>
    </defaultProxy>
  </system.net>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ReportingServices">
          <clientCredentials supportInteractive="false">
            <windows allowedImpersonationLevel="Impersonation" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="ReportingServices" maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" proxyCredentialType="Ntlm" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/ReportServer/ReportService2010.asmx" behaviorConfiguration="ReportingServices" binding="basicHttpBinding" bindingConfiguration="ReportingServices" contract="Bits.Infrastructure.ReportService.ReportingService2010Soap" />
      <endpoint address="http://localhost/ReportServer/ReportExecution2005.asmx" behaviorConfiguration="ReportingServices" binding="basicHttpBinding" bindingConfiguration="ReportingServices" contract="Bits.Infrastructure.ReportExecutionService.ReportExecutionServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>