<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Database"
         connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <add name="TranslationServices"
         connectionString="https://api.datamarket.azure.com/Bing/MicrosoftTranslator/" />
  </connectionStrings>
  <appSettings>
    <add key="TranslationServicesKey" value="0LAxtlLefP0XXGZigz9Ftd+tqOqo40jV9e9tZY8n5NI=" />
  </appSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy usesystemdefault="True"/>
    </defaultProxy>
  </system.net>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ReportingService2010Soap">
          <clientCredentials supportInteractive="false">
            <windows allowedImpersonationLevel="Impersonation" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="ReportingService2010Soap">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" proxyCredentialType="Ntlm" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/ReportServer/ReportService2010.asmx"
        behaviorConfiguration="ReportingService2010Soap" binding="basicHttpBinding"
        bindingConfiguration="ReportingService2010Soap" contract="SqlServer.ReportingService2010Soap" />
    </client>
  </system.serviceModel>
</configuration>